@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    font-family: 'Inter', sans-serif;
  }

  body{
    background: #10151D;
  }

  
  p{
    line-height: 1.5;
  }

  img{
    display: block;
  }
}

@layer components {
  .flex-center{
    @apply flex items-center;
  }

  .bg-main{
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, rgb(16, 21, 29, .5) 50%,  #10151D 90%), url('./assets/banner-bg.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    z-index: -1;
  }

  .pulse-btn {
    animation: borderPulse 800ms infinite ease-out;
    transition: background 1000ms;
  }

  .pulse-btn:hover{
    animation: none;
    @apply bg-blue-300;
  }
  
  @keyframes borderPulse {
    0% {
      box-shadow: inset 0px 0px 0px 3px rgb(96, 165, 250, .4), 0px 0px 0px 0px rgb(191, 219, 254);
    }
    100% {
      box-shadow: inset 0px 0px 0px 1px rgba(117, 117, 255,.2), 0px 0px 0px 8px rgba(255,255,255,0);
    }
  }

  input:checked ~ .dot {
    transform: translateX(100%);
    @apply bg-blue-400;
  }

  input:checked ~ .block {
    @apply border-blue-400;
  }

  .section-banner{
    background: linear-gradient(to bottom, rgb(16, 21, 29, .5) 50%,  #10151D 90%), url('./assets/sectionbanner-bg.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 50vh;
  }

  .fares-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  @media screen and (min-width: 768px) {
    .fares-grid{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 1rem;
    }
  }
  
  /* customized popup */
  .pop-up .mapboxgl-popup-tip{
    border: none;
    padding-top: 1rem;
  }
  .pop-up .mapboxgl-popup-content{
    @apply bg-[#161e29] text-slate-300 border border-[#2E3C51] ;
    font-family: 'Inter', sans-serif;
  }
  .pop-up .mapboxgl-popup-content::before, .pop-up .mapboxgl-popup-content::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #161e29;
    top: -7.5px;
    right: 0;
    left: 0;
    transform: rotate(45deg);
    margin-inline: auto;
  }
  .pop-up .mapboxgl-popup-content::after{
    border: 1px solid #fff;
    z-index: -1;
  }
  .pop-up .mapboxgl-popup-close-button{
    @apply hidden;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto;
  }

  .navlink.active {
    @apply text-slate-100;
  }

  
}
