@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    font-family: 'Inter', sans-serif;
  }

  body{
    background: #10151D;
  }

  
  p{
    line-height: 1.5;
  }

  img{
    display: block;
  }
}

@layer components {
  .flex-center{
    @apply flex items-center;
  }

  .bg-main{
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, rgb(16, 21, 29, .5) 50%,  #10151D 90%), url('./assets/banner-bg.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    z-index: -1;
  }

  .pulse-btn {
    animation: borderPulse 800ms infinite ease-out;
    transition: background 1000ms;
  }

  .pulse-btn:hover{
    animation: none;
    @apply bg-blue-300;
  }
  
  @keyframes borderPulse {
    0% {
      box-shadow: inset 0px 0px 0px 3px rgb(96, 165, 250, .4), 0px 0px 0px 0px rgb(191, 219, 254);
    }
    100% {
      box-shadow: inset 0px 0px 0px 1px rgba(117, 117, 255,.2), 0px 0px 0px 8px rgba(255,255,255,0);
    }
  }

  input:checked ~ .dot {
    transform: translateX(100%);
    @apply bg-blue-400;
  }

  input:checked ~ .block {
    @apply border-blue-400;
  }

}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto;
  }

  .navlink.active {
    @apply text-slate-100;
  }
}
